{% extends "base.html" %}
{%  block title%}
About

{% endblock %}

{% block body %}

<style media="screen">

  body{
    background-color:#80756b;
  }
  .yt{
    display: inline;
    margin-top: 40px;
  }
  u{
    color: #C0C0C0;
  }

</style>
<div >
<section style="padding:50px; margin:80px ; font-family:'Montserrat',sans-serif; background-color:#D3D3D3">
  <div class="jumbotron" style="background-color:#D3D3D3">
  <h1 class="display-4" style="text-align:center">Welcome to The Blogging World</h1>
  <p class="lead" style="text-align:center ">Share your thoughts with the world </p>
  <hr class="my-4">
  <p style="text-align:center">Contact me</p>
  <div style="text-align:center">
    <a href="https://www.instagram.com/harsimran_singh_26/"><i class="fab fa-instagram"></i>  </a>
    <a href="https://www.facebook.com/profile.php?id=100010385776996"><i class="fab fa-facebook"></i>  </a>
    <hr>
    <p class="yt">Youtube channel</p>
<a class="yt"href="https://www.youtube.com/channel/UCgn-i042S76I2qKYBg_QzEg?view_as=subscriber"><i class="fab fa-youtube"></i></a>
  </div>
</div>
</section>
</div>
{% endblock %}
