{% extends 'base.html'  %}
{% import "bootstrap/wtf.html" as wtf %}
{%  block title%}
Add Post
{% endblock %}

{% block body %}
<style media="screen">
  @media (max-width: 480px){
    div{
      margin-top:20px;
      margin-left:530px;
    }
  }
</style>

<div class="container border" style=" width:500px; padding:20px;">
  <form  action="{{url_for('posts.new_post')}}" method="post" >
    {{form.hidden_tag()}}
    <legend><u>New Post</u></legend>
    <div class="" style="padding:10px">
      {{wtf.form_field(form.title)}}
      <br>
      {{wtf.form_field(form.content)}}
      <br>
      <button class="btn btn-primary btn-lg " type="submit">Post</button>
    </div>
</form>
</div>




{% endblock %}
